@using Chase.Vesta.Java.Controllers;
@using Chase.VestaMC.Minecraft.Controllers;
@using Chase.VestaMC.Modded.Data;
@{
    var Minecraft = MinecraftVersionController.GetMinecraftReleaseVersions().Result;
    string[] LocalJavaVersions = JavaController.GetLocallyInstalledJavaVersions();

}
<link rel="stylesheet" href="/css/create-instance.css">
<h1>Create Instance</h1>
<div id="create-instance" class="col">
        <div class="panel col">
            <div id="form-data" class="row">
                <div class="col">
                    <label for="instance-name">instance name</label>
                    <input id="instance-name" type="text" placeholder="instance name" name="instance-name">
                    <label for="java-dropdown">Java Version</label>
                    <button id="java-dropdown"  class="dropdown" value="17">
                        <p class="value">Unkown</p>
                        <div class="dropdown-items">
                            <div class="dropdown-item" value="custom">Custom Java Version</div>
                        @if (LocalJavaVersions.Any())
                        {
                            <div class="dropdown-item no-select" value="custom">- Local -</div>
                            @foreach(string version in LocalJavaVersions)
                            {
                                <div class="dropdown-item" value="@version">Java @version</div>
                            }
                            <div class="dropdown-item no-select" value="custom">- Remote -</div>
                        }
                        @foreach(var item in JavaController.GetJavaVersionManifests().Result)
                        {
                            <div class="dropdown-item" value="@item.Version">Java @item.Version</div>
                        }
                        </div>
                    </button>
                </div>
                <div class="col">
                    <label for="minecraft-version-dropdown">Minecraft</label>
                    <button id="minecraft-version-dropdown" class="dropdown" value="@Minecraft.Latest.Release">
                        <p class="value">Unkown</p>
                        <div class="dropdown-items">
                        @foreach(var item in Minecraft.Versions)
                        {
                            <div class="dropdown-item" value="@item.ID">@item.ID</div>
                        }
                        </div>
                    </button>
                    <label for="modloader-dropdown">Loader</label>
                    <button id="modloader-dropdown" class="dropdown" value="vanilla">
                        <p class="value">Unkown</p>
                        <div class="dropdown-items">
                        @foreach(string item in Enum.GetNames(typeof(SupportedModloaders)))
                        {
                            <div class="dropdown-item" value="@item.ToLower()">@item</div>
                        }
                        </div>
                    </button>
                    <label for="modloader-version-dropdown" style="display:none"></label>
                    <button id="modloader-version-dropdown" style="display:none" class="dropdown">
                        <p class="value">Loader Version</p>
                        <div class="dropdown-items">
                        </div>
                    </button>
                </div>
            </div>
            <div class="center horizontal">
                <div class="button">
                    <i class="fa fa-plus"></i>
                    create
                </div>
            </div>
        </div>
</div>

<div class="install-popup">
    <p class="status">Installing<br/>Minecraft</p>
    <p class="extra">28%</p>
    <span class="spinner" progress="15"></span>
</div>

<script src="/js/create-instance.js"></script>